@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  direction: rtl;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Segoe UI', Tahoma, Arial, Helvetica, sans-serif;
  direction: rtl;
}

/* Custom RTL styles */
.rtl-flex-reverse {
  flex-direction: row-reverse;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}
  